@import "tailwindcss";

a.active hr{
    display: block;
}

.prata-regular{
    font-family: "Prata",serif;
    font-weight: 400;
    font-style: normal;
}
::-webkit-scrollbar{
    display: none;
}
/* @media(max-width:640px){
    a.active{
        background-color: black;
        color: white;
    }
    
} */
/* 
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
} */

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-18px);
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}
